.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

}
.contact__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-transform: capitalize;

}
.contact__discription {
    font-size: var(--size-sm);
    color: var(--clr-slate600);
    max-width: 60ch;

}
.contact__but {
    font-size: var(--size-sm);
}









@media(min-width: 475px){
    .contact {
         
        gap: 1.5rem;
    
    }
    .contact__title {
        font-size: var(--size-3xl);
         
    }
    .contact__discription {
        font-size: var(--size-base);
         
    }
    .contact__but {
        font-size: var(--size-base);
    }
    
}

/* small  */
/* @media(min-width: 640px){}  */

/* medium  */
/* @media(min-width: 768px){ }  */

/* large */
@media(min-width: 1024px){
     
    .contact__title {
        font-size: var(--size-4xl);
         
    }
    .contact__discription {
        font-size: var(--size-lg);
         
    }
    .contact__but {
        font-size: var(--size-lg);
    }
}  

/* xl  */
 @media(min-width: 1280px){ 
    .contact {
         
        gap: 2rem;
    
    }
    .contact__title {
        font-size: var(--size-5xl);
         
    }
    .contact__discription {
        font-size: var(--size-xl);
         
    }
    .contact__but {
        font-size: var(--size-xl);
    }
 }  

/* 2xl  */
/* @media(min-width: 1536px){}    */ 